@{
    ViewBag.Title = "Song Translator";
}

<form>
    <ul>
        <li>What did she say?:</li>
        <li><textarea id="whatDidSheSay"></textarea></li>
        <li><input type="submit" value="Let's find out!" /></li>
        <li>She MIGHT mean this:</li>
    </ul>
    
    

</form>
